includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src

    level: max

    ignoreErrors:
        - '#Access to an undefined property Laravel\\Cashier\\PaymentMethod\|Stripe\\PaymentMethod\:\:\$id\.#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:#'
        - '#Parameter \#1 \$config of class Stripe\\StripeClient constructor expects array\<string, mixed\>\|string, mixed given\.#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$stripe_id\.#'
        - '#Unable to resolve the template type TValue in call to function collect#'
        - '#Parameter \#1 \$code of class Money\\Currency constructor expects non\-empty\-string, string given\.#'
        - '#Cannot call method (.*) on mixed\.#'

    checkMissingIterableValueType: false

    reportUnmatchedIgnoredErrors: false

    checkOctaneCompatibility: true
